$radius: 10px;

.character-button {
  &-top {
    &-right {
      border-radius: 0 $radius 0 0;
    }

    &-left {
      border-radius: $radius 0 0 0;
    }
  }

  &-bottom {
    &-right {
      border-radius: 0 0 $radius 0;
    }

    &-left {
      border-radius: 0 0 0 $radius;
    }
  }
}

.selected {
  border: 2px solid blue;
}
